<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coresynesis.inspecarai">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.rear"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACESS_WIFI_STATE" /> <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_ivi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_ivi_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.ConfigActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CameraActivity"
            android:exported="false" />
        <activity android:name=".activities.SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.SignUpActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".activities.AddCar"
            android:configChanges="orientation|screenSize"
            android:resumeWhilePausing="true" />
        <activity
            android:name=".activities.AddNewCarData"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".activities.QueryInspectActivity" />
        <activity android:name=".activities.QueryInspectRealTimeActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.coresynesis.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>